body {
  text-align: center;
  background-color: lightgray;
}

.grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    justify-content: center;
    margin: auto;
  }
  
  .grid div {
    width: 40px;
    height: 40px;
  }
  
  .snake {
    background-color: #6CBB3C;
  }
  
  .apple {
    background-color: #ff0800;
  }
  button {
    width: 9%;
    height: 1.8rem;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: aliceblue;
  }